h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#searchBar {
    margin: 20px;
    border: none;
    border-bottom: 1px solid black;
}

#postsheader {
    font-size: 60px;
}

.addButton {
    text-decoration: none;
    font-size: 20px;
    color: #4059AD;
}

.posts {
    display: block;
    border: 2px solid black;
    margin: 5px;
    background-color: #97D8C4;
}

#Title {
        font-size: 30px;
        border-bottom: 1px solid black;
        text-align: left;
}

#Description {
        font-size: 18px;
}